.photocard-img {
    max-height: 15rem;
    max-width:30rem;
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

.photocard {
    margin-top: 3rem;
}

.description-text {
    font-family: "Trirong", serif;
    font-size: 1.875em;
    font-weight: lighter;
}