body,html {
    height: 100%;
    margin: 0;
}

#photoshareapp{
    height: 100%;
}

.errormessage
{
    display:flex;
    align-items: center;
    margin: 0.7rem auto;
    height: 7px;
    font-size: 8pt;
    padding-left: 4px;
}